# Port where the server is hosted (ex. localhost:3000)
PORT=3000

# The root URL users will access the app from
EXTERNAL_URL="https://example.com"

DATABASE_URL="mysql://root:password@localhost/openplace"

# Only required for development
SHADOW_DATABASE_URL="mysql://root:password@localhost/openplace_shadow"

# This passphrase shakes up the salt shaker and generates a cryptographic hashed password.
JWT_SECRET="your-secret-key"

# Interval between pixel recharges
COOLDOWN_MS=30000

# Special cooldowns for Discord active and boosters (optional)
ACTIVE_COOLDOWN_MS=15000
BOOSTER_COOLDOWN_MS=10000
SPECIAL_COOLDOWN_MS=5000
# This is to enable pixel events, override all cooldowns to the special cooldown time
COOLDOWN_OVERRIDE_FOR_SPECIAL=false

# Levels calculated based on the painted pixels
# Ref: https://github.com/TeamRealB/Wplace-Protocol/blob/main/README_EN.md#levels
LEVEL_BASE_PIXEL=30
LEVEL_EXPONENT=0.65
LEVEL_UP_DROPLETS_REWARD=500
LEVEL_UP_MAX_CHARGES_REWARD=2
PAINTED_DROPLETS_REWARD=1

# Ban account when attempting to paint from a banned IP
BAN_ON_BANNED_IP=1

# Block Tor signup and painting, via Cloudflare IP headers
BLOCK_TOR=1

# Enable Rate limit true/false (optional)
ENABLE_RATE_LIMIT=false

# Rate limit for login attempts (default: 5 minutes)
LOGIN_RATE_LIMIT_ATTEMPTS=5
LOGIN_RATE_LIMIT_MS=300000

# Rate limit for signups (default: 1 hour)
SIGNUP_RATE_LIMIT_ATTEMPTS=2
SIGNUP_RATE_LIMIT_MS=3600000

# Rate limit for password reset (default: 10 minutes)
PASSWORD_RESET_RATE_LIMIT_ATTEMPTS=3
PASSWORD_RESET_RATE_LIMIT_MS=600000

# Rate limit for painting (default: 10 seconds)
PAINT_RATE_LIMIT_ATTEMPTS=60
PAINT_RATE_LIMIT_MS=10000

# Discord account linking (optional)
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URL=

# Discord bot integration (optional)
DISCORD_BOT_TOKEN=
DISCORD_SERVER_ID=
DISCORD_ACTIVE_ROLE_IDS=
DISCORD_BOOSTER_ROLE_IDS=

# Rules
# Using more than one account per person
ALLOW_MULTI_ACCOUNT=false
# Offensive drawings
ALLOW_OFFENSIVE_CONTENT=false
# Explicit (18+) drawings
ALLOW_EXPLICIT_CONTENT=false
# Griefing (drawing over others)
ALLOW_GRIEFING=false
# Kind griefing (complementing others' drawings)
ALLOW_KIND_GRIEFING=true
# Political griefing (defacing political flags/portraits)
ALLOW_POLITICAL_GRIEFING=false
# Logging in or painting through VPNs (this is just the rule - requires importing IP lists)
ALLOW_VPN=false
# Using bots to paint
ALLOW_BOTS=false
# Any extra rules you want to add (optional)
EXTRA_RULES=""
